:root {
    --bg-square-default: #084c08;
    --level-3: #006400;
    --level-5: #008000;
    --level-10: #90ee90;
    --bg-null: #171515;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

ul {
    padding-left: 0;
    list-style: none;
}

.graph {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    margin: 2em auto;
}

.square {
    width: 10px;
    height: 10px;
    background: var(--bg-square-default);
    margin: 3px;
    margin-right: 0;
    border-radius: 2px;
}

[data-value="3"] {
    background: var(--level-3);
}

[data-value="10"] {
    background: var(--level-10);
}

[data-value="5"] {
    background: var(--level-5);
}

[data-value="0"] {
    background: var(--bg-null);
}