:root {
    --bodyground: #000000;
    --background: #1e283d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bodyground);
}

.github {
    background: var(--background);
    max-width: calc(400px * 3 / 2);
}