:root {
    --bodyground: #000000;
    --background: #1e283d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bodyground);
}

.github {
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    background: var(--background);
    margin: 2em auto;
}

.wrap-github {
    padding: 1em 2em;
}

img {
    width: 350px;
}

.github-title {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.sub-title {
    font-size: 1rem;
    color: white;
    opacity: 0.6;
}

.para {
    font-size: 1.5rem;
    color: white;
    opacity: 0.6;
}

.btn {
    font-size: 1.4rem;
    border: none;
    border-radius: 6px;
    color: white;
    background: #1e2678;
    opacity: 0.6;
    text-transform: capitalize;
    padding: .3rem .5rem;
}