* {
    margin: 0;
    padding: 0;
}

i {
    font-size: 2rem;
    padding: 0 0 0 1.3rem;
    animation: swap 10s infinite;
}

.container {
  width: 30%;
  height: 40vh;
  background: burlywood;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes swap {
    50% {
        transform: translateX(600%);
        opacity: 0;
    }

    100% {
        transform: translateX(-600%);
        opacity: 1;
    }
}