:root {
    --bg-body: #000;
    --bg-gradient-1: #dc9a20cd;
    --bg-gradient-2: #1212a8ab;
    --bg-gradient-3: #b4155fdf;
    --bg-gradient-4: #ff6a00cf;
}

*  {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* body {
  background: var(--bg-body);
} */

.boy-list {
    list-style: none;
}

.boy-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--bg-gradient-3);
}

/* ends boy */

.girl-list {
    list-style: none;
}

.girl-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--bg-gradient-3);
}

/* ends girl */

.men-list {
    list-style: none;
}

.men-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--bg-gradient-3);
}