:root {
    --bg-body: #000;
    --bg-gradient: #dc9a20cd;
    --bg-gradient: #1212a8ab;
    --bg-gradient: #b4155fdf;
    --bg-gradient: #ff6a00cf;
}

*  {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  background: var(--bg-body);
}

.boy-img {
  width: 200px;
}