:root {
    --bg-body: #000;
    --bg-gradient-1: #feda75;
    --bg-gradient-2: #fa7e1e;
    --bg-gradient-3: #d62976;
    --bg-gradient-4: #962fbf;
    --bg-gradient-5: #4f5bd5;
    --bg-border: #808080;
    --color-text: #ffffff;
    --bg-live: #cf4242;
}

*  {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  background: var(--bg-body);
}

.container {
    height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ends parent */

.boy-avater {
    font-size: 3rem;
    color: var(--color-text);
    text-transform: capitalize;
    text-align: center;
}

.boy-list {
    list-style: none;
    width: 160px;
    height: 160px;
    background: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boy-img {
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ends boy */

.girl-avater {
    font-size: 3rem;
    color: var(--color-text);
    text-transform: capitalize;
    text-align: center;
}

.girl-list {
    list-style: none;
    padding: 0 0 2rem 0;
}

.girl-link {
    text-decoration: none;
    position: relative;
}

.girl-link span {
    font-size: 2.5rem;
    background: var(--bg-live);
    color: var(--color-text);
    text-transform: capitalize;
    border-radius: 8px;
    border: 3px solid var(--bg-body);
    padding: .2rem .6rem;
    position: absolute;
    left: 50px;
    top: 8px;
}

.girl-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--bg-border);
}

/* ends girl */

.men-avater {
    font-size: 3rem;
    color: var(--color-text);
    text-transform: capitalize;
    text-align: center;
}

.men-list {
    list-style: none;
    padding: 0 0 2rem 0;
}

.men-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--bg-gradient-3);
}