:root {
   --white: #ffff; 
   --brown: #a52a2a; 
   --height: 400px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

.japan-flag {
    height: var(--height);
    width: calc(var(--height) * 3/2); 
    background: var(--white);
    margin: 2em auto;
}

.circle-brown {
    height: 200px;
    width: 200px;
    background: var(--brown);
}