:root {
   --white: #ffff; 
   --brown: brown; 
   --height: 150px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

.japan-flag {
    height: var(--height);
    width: calc(var(--height) * 3/2);
    background: var(--white);
}