:root {
    --border-bg: #808080;
    --load-bg: #d32a2aae;
}

* {
    margin: 0;
    padding: 0;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 40% 0;
}

.load {
    width: 60px;
    height: 60px;
    border: 1.2em solid var(--border-bg);
    border-radius: 50%;
}