:root {
    --border-bg: #808080;
    --load-bg: #d32a2aae;
}

* {
    margin: 0;
    padding: 0;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
    width: 100px;
    height: 100px;
    border: 1em solid var(--border-bg);
    border-radius: 50%;
}