:root {
    --bg-white: #ffffff;
    --bg-green: #008000;
    --bg-red: #ff0000;
    --height: 150px;
}

* {
    margin: 0;
    padding: 0;
}

.flag-madagascar {
    height: var(--height);
    width: calc(var(--height) * 1.5);
    background: burlywood;
    margin: 2em auto;
}