:root {
    --progress-bar: #aba5a5;
    --stage-1: 25%;
    --stage-2: 50%;
    --stage-3: 75%;
    --stage-4: 100%;
    --stage-bg-1: #5e5ef6;
    --stage-bg-2: #5ed3f6;
    --stage-bg-3: #5ef6a8;
    --stage-bg-4: #dce171;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 10em auto;
}

.progress-bar {
    height: 40px;
    background: var(--progress-bar);
    border-radius: 20px;
}

.prog-status {
    height: 40px;
    /* width: 20%;
    background: var(--stage-bg-1); remove when you make stages*/
    border-radius: 20px;
}

.stage-1 {
    background: var(--stage-bg-1);
    width: var(--stage-1);
}

.stage-2 {
    background: var(--stage-bg-2);
    width: var(--stage-2);
}

.stage-3 {
    background: var(--stage-bg-3);
    width: var(--stage-3);
}

.stage-4 {
    background: var(--stage-bg-4);
    width: var(--stage-4);
}