:root {
    --bluelight: #136ed6;
    --yellow: #ffff00;
    --height: 400px;
}

* {
    margin: 0;
    padding: 0;
}

.sweden-flag {
    height: var(--height);
    width: calc(var(--height) * 3 / 2);
    background: var(--bluelight);
    margin: 2em auto;
}

.cross-one {
    width: calc(var(--height) * 12 / 8);
    height: calc(var(--height) * 3 / 16);
    background: var(--yellow);
}