:root {
    --white: #ffffff;
    --hw: 200px;
}

* {
    margin: 0;
    padding: 0;
}

.flag-switzerland {
    height: var(--hw);
    width: var(--hw);
    background: red;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.cross-one {
    height: calc(var(--hw) * 3/16);
    width: calc(var(--hw) * 5/8);
    background: var(--white);
}