html, body {
    margin: 0;
    padding: 0;
}

.conatiner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1::after {
    content: "";
    animation: 6s swap infinite;
}

@keyframes swap {
    0% {
        content: " MERN Stack";
    }

    25% {
        content: " Coding"; 
    }

    50% {
        content: " Web Develepment"; 
    }

    75% {
        content: " Graphic Design"; 
    }

    100% {
        content: " MERN Stack";
    }
}